.navbar{
  background-color: var(--secondary-color);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.navlinks ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin-right: 1rem;
}
.navlinks{
  text-decoration: none;
  color: #fffffb;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.2rem 0.6rem;
  position: relative;
}
nav ul li a::before{
  content: "";
  position: absolute;
  top:-10px;
  left:50%;
  height: 3px;
  width:0;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover:before{
  width:100%;
}
nav ul li a:focus{
  background-color: var(--primary-color);
  opacity: 0.2px;
  border-radius: 20px;
}
nav ul li a:focus::before{
  width: 0%;
}